/*
* @Author: CoronetLiu
* @Date:   2017-09-22 17:06:38
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-22 23:22:46
*/

.top_inner,.banner_inner,.main_inner{
    width:1200px;
    margin:0 auto;
}

#top{
    background:#000;
    border-bottom:1px solid #383838;
}
.top_inner{
    height:100px;
}
.top_inner>a img{
    float:left;
    margin:18px 0;
}
.top_inner .myinfo{
    float:right;
    padding-top:15px;
    width:560px;
    padding-left:440px
}
.top_inner .myinfo li{
    float:left;
    color:#a7a7a7;
    padding:0 10px;
    border-left:1px solid #5b5b5b;
    line-height:20px;
}
.top_inner .myinfo li a{
    color:#a7a7a7;
}
.top_inner .myinfo li a:hover{
    color:#fff;
}
.top_inner .myinfo .start{
    border-left:none;
    position:relative;
}
.top_inner .myinfo .start a{
    float:left;
    margin:1px 5px;
}
.top_inner .myinfo .start .code{
    display:none;
    position:absolute;
    z-index:10;
    left:-60px;
    top:14px;
}
.top_inner .myinfo li:nth-child(4){
    padding-left:20px;
    background:url("../img/3.png") no-repeat 8px center;
}
.top_inner .myinfo li:nth-child(5){
    padding-left:25px;
    background:url("../img/20.png") no-repeat 10px center;
}
.top_inner .nav{
    float:left;
    margin-top:30px;
    margin-left:50px;
}
.top_inner .nav li{
    float:left;
    color:#a7a7a7;
    font-size:14px;
    padding:0 16px;
}
.top_inner .nav li a{
    float:left;
    padding:3px 5px;
    color:#a7a7a7;
}

.top_inner .search{
    float:right;
    margin-top:30px;
}
.top_inner .search input{
    height:25px;
    width:190px;
    padding-left:10px;
    background:#141414;
    color:#a9a9a9;
    outline:none;
}
.top_inner .search div{
    float:right;
    height:25px;
    width:25px;
    background:#2b5480 url("../img/21.png") no-repeat center center;
}
#location{
    background:#000;
}
#location p{
    width:1180px;
    margin:0 auto;
    background:url("../img/32.png") no-repeat left center;
    padding-left:20px;
    line-height:40px;
    font-size:14px;
    color:#666666;
}
#location p a{
    font-size:14px;
    color:#666666;
}
#location p a:hover{
    color:#d2691e;
}

#main{
    background:#000;
}
.main_inner .main_top{
    background:#fff;
    padding:10px;
}
.main_top .middle{
    width:450px;
    height:520px;
    border:1px solid #e8e8e8;
    float:left;
    position:relative;
}
.main_top .middle img{
    width:450px;
    height:450px;
}
.main_top .middle .mark{
    width:450px;
    height:450px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
}
.main_top .middle .position{
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,0.3);
    display:none;
}
.main_top .middle .small{
    height:70px;
    width:450px;
    border-top:1px solid #e8e8e8;
    background:#f2f2f2;
}
.main_top .middle .small button{
    height:50px;
    width:50px;
    border:none;
    border:1px solid #ddd;
    margin-top:10px;
    padding:0;
}
.main_top .middle .small button:nth-child(1){
    margin-left:30px;
    background:url("../img/37.png") no-repeat center center;
}
.main_top .middle .small button:nth-child(2){
    margin-left:20px;
    background:url("../img/38.png") no-repeat center center;
}
.main_top .middle .small .cur{
    border:1px solid #d2691e;
}
.main_top .big{
    position:absolute;
    left:465px;
    top:0;
    width:450px;
    height:450px;
    border:1px solid #ddd;
    overflow:hidden;
    background-image:url("../img/35.png");
    background-repeat: no-repeat;
    background-position:0 0;
    display:none;
}
.goodinfo{
    float:left;
    height:520px;
    margin-left:30px;
}
.infotitle{
    padding-bottom:10px;
    border-bottom:1px dashed #ccc;
}
.infotitle h2{
    font-size:20px;
    color:#666;
    line-height:30px;
    font-weight: normal;
}
.infotitle p{
    color:#666;
    font-size:14px;
}
.infoprice{
    padding:20px 0;
    border-bottom:1px dashed #ccc;
}
.infoprice p{
    font-size:14px;
    color:#666;
    line-height:20px;
}
.infoprice p:nth-child(1) span:nth-child(1){
    font-size:18px;
    color:#4e7bb9;
    margin:0 20px 0 30px;
}
.infoprice p:nth-child(1) span:nth-child(2){
    text-decoration: line-through;
}
.infoprice p:nth-child(2){
    margin:20px 0;
}
.infoprice p:nth-child(2) span{
    margin:0 20px 0 45px;
    color:#c40001;
}
.infoprice p:nth-child(2) a:hover{
    color:#d65740;
}
.infoprice p:nth-child(3) a{
    display:inline-block;
    padding-left:25px;
    line-height:24px;
    margin-right:15px;
}
.infoprice p:nth-child(3) a:hover{
    color:#d65740;
}
.infoprice p:nth-child(3) a:nth-child(1){
    margin-left:45px;
    background:url("../img/41.png") no-repeat left center;
}
.infoprice p:nth-child(3) a:nth-child(2){
    background:url("../img/42.png") no-repeat left center;
}
.infoprice p:nth-child(3) a:nth-child(3){
    background:url("../img/43.png") no-repeat left center;
}
.infoprice p:nth-child(3) a:nth-child(4){
    background:url("../img/44.png") no-repeat left center;
}
.infobuy{
    padding:10px 0;
}
.infobuy p:nth-child(1){
    line-height:50px;
    font-size:14px;
}
.infobuy p:nth-child(1) input{
    height:50px;
    width:50px;
}
#bottom{
    background:#121212;
}
.bottom_left{
    float:left;
    height:160px;
    width:620px;
    padding:10px 0;
    margin-left:75px;
}
.bottom_left h2{
    font-size:14px;
    line-height:30px;
    padding-left:20px;
    color:#5e8dbb;
}
.bottom_left>ul{
    border-top:1px solid #1c1c1c;
    padding-top:10px;
    overflow:hidden;
}
.bottom_left>ul>li{
    float:left;
    font-size:12px;
    color:#5e8dbb;
    margin-left:45px;
}
.bottom_left>ul>li ul{
    overflow:hidden;
    margin-top:5px;
}
.bottom_left>ul>li ul li{
    margin-top:5px;
}
.bottom_left>ul>li ul li a{
    font-size:12px;
    color:#666666;
}
.bottom_left>ul>li ul li a:hover{
    color:#d2691e;
}
.bottom_right{
    float:left;
    margin-left:180px;
    margin-top:40px;
    position:relative;
}
.bottom_right h2{
    font-size:12px;
    line-height:30px;
    padding-left:20px;
    color:#5e8dbb;
}
.bottom_right ul{
    margin-top:10px;
}
.bottom_right ul li{
    float:left;
    margin-right:30px;
}
.bottom_right ul li a{
    display: inline-block;
    width:36px;
    height:15px;
    padding-top:40px;
    text-align:center;
}
.bottom_right ul li:nth-child(1) a{
    background:url("../img/23.png") no-repeat center top;
}
.bottom_right ul li:nth-child(2) a{
    background:url("../img/24.png") no-repeat center top;
}
.bottom_right ul li:nth-child(3) a{
    background:url("../img/25.png") no-repeat center top;
}
.bottom_right .saoma{
    position:absolute;
    z-index:10;
    left:33px;
    bottom:50px;
    display: none;
}
#footer{
    background:#000;
    height:60px;
}
#footer .info{
    position:relative;
    width:108px;
    height:35px;
    margin-top:13px;
    margin-left:20px;
    overflow: hidden;
    float:left;
}
#footer .info .wailian{
    position:absolute;
    width:590px;
    left:0;
    top:0;
}
#footer .info .wailian li{
    float:left;
    margin-right:10px;
}
#footer .info .wailian li a{
    float:left;
}
#footer .lianjie{
    float:right;
    margin-top:24px;
}
#footer .lianjie li{
    float:left;
    padding:0 16px;
    color:#666666;
    border-left:1px solid #5b5b5b;
}
#footer .lianjie li:nth-child(1){
    padding-left:0;
    border:none;
}
#footer .lianjie li a{
    float:left;
    color:#666666;
}
#footer .lianjie li a:hover{
    color:#d2691e;
}
#section{
    width:80px;
    position:fixed;
    z-index:99;
    right:10px;
    bottom:90px;
    background:#fff;
    cursor: pointer;
}
#section li{
    font-size:12px;
    color:#4d4d4d;
    padding:8px;
    text-align:center;
}
#section li:nth-child(2){
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}
#section li a{
    font-size:12px;
    line-height:16px;
    color:#4d4d4d;
    text-align:center;
}
#section .weixin{
    position:relative;
}
#section .weixin .erweima{
    position:absolute;
    right:80px;
    top:-125px;
    display:none;
}